name: Hello World Workflow
on: 
  push:
jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: greeting
        run:  echo "Hello World ${{ github.actor }} "
          
